@use '../colors.scss';

$all_colors: (
  white: colors.$white,
  gray50: colors.$gray50,
  gray150: colors.$gray150,
  gray200: colors.$gray200,
  gray300: colors.$gray300,
  gray500: colors.$gray500,
  gray700: colors.$gray700,
  gray900: colors.$gray900,
  purpleExtraLight: colors.$purpleExtraLight,
  purpleLight: colors.$purpleLight,
  purple: colors.$purple,
  purpleDark: colors.$purpleDark,
  green: colors.$green,
  greenDark: colors.$greenDark,
  blue: colors.$blue,
  blueDark: colors.$blueDark,
  orange: colors.$orange,
  orangeDark: colors.$orangeDark,
  pink: colors.$pink,
  red: colors.$red,
  redDark: colors.$redDark,
  gradient: colors.$gradient,
  primary: colors.$primary,
  secondary: colors.$secondary,
  info: colors.$info,
  warning: colors.$warning,
  error: colors.$error,
  success: colors.$success,
  highlight: colors.$highlight,
);

@each $color, $value in $all_colors {
  .#{'' + $color} {
    color: $value;
  }

  .bg-#{'' + $color} {
    background-color: $value;
  }
}
